@page
@model CIE_206.Pages.CharityWorkersView.NeedyMenuModel
@{
}
@{
    Layout = "DashBoardLayout";
}
@functions {
    public int CalculateAge(DateTime birthdate)
    {
        DateTime currentDate = DateTime.Now;
        int age = currentDate.Year - birthdate.Year;

        // Check if the current date is before the birthdate
        // to determine if the age should be decreased by 1
        if (currentDate < birthdate.AddYears(age))
        {
            age--;
        }

        return age;
    }
}

<style>
    #link10 {
        background: linear-gradient(to right, #fdd27c, #ff710e);
        filter: brightness(110%);
    }
</style>


<p class="main-title">
    المستفيدين
</p>

<input class="my-input main-search-input" placeholder="بحث بالرقم القومي">

<div class="white-holder">
    <div class="row">
        <div class="col-xs-6">
            <p class="main-title">
                قائمة المستفيدين
            </p>
        </div>
        <div class="col-xs-6">
            <div class="btn-area">

                <a class="btn-blue submit" asp-page="/CharityWorkersView/Add-Needy">إضافة مستفيد </a>
            </div>
        </div>
    </div>
    <table class="table my-table">
        <thead class="thead-light">
            <tr>
                <th scope="col"> الرقم التسلسلي </th>
                <th scope="col">الاسم الاول</th>
                <th scope="col">الاسم الاخير </th>
                <th scope="col">رقم الهاتف</th>
                <th scope="col">الرقم القومي</th>
                <th scope="col"> تاريخ الميلاد</th>
                <th scope="col">الحالة التعليمية </th>
                <th scope="col"> حالة القبول </th>
                <th scope="col"> التفاصيل كاملة </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.dt.Rows.Count; i++)
            {
                <tr>
                    <td>@Model.dt.Rows[i][1] </td>
                    <td>@Model.dt.Rows[i][2] </td>
                    <td>@Model.dt.Rows[i][5] </td>
                    <td>@Model.dt.Rows[i][7] </td>
                    <td>@Model.dt.Rows[i][6] </td>

                    <td>@Model.dt.Rows[i][8] </td>


                    <td>@Model.dt.Rows[i][18] </td>

                    
                        @{
                            string status = Model.dt.Rows[i][22].ToString();
                            string statusText = "";
                    
                            switch (status)
                            {
                                case "0":
                                    statusText = "قيد الانتظار";
                                <td>
                                    <span class="delegates-pending" >
                                        @statusText
                                    </span>
                                </td>

                                break;
                                case "1":
                                    statusText = "مقبول";
                                  <td>  
                                    <span class="delegates-available" >
                                                 @statusText
                                    </span>
                                    </td>
                                    break;
                                case "2":
                                    statusText = "مرفوض";
                                    <td>
                                <span class="delegates-notavailable">
                                    @statusText
                                </span>
                                                </td>
                                break;
                            }
                        }
                    
                    <td>
                        <a asp-page="/CharityWorkersView/NeedyDetails" asp-route-id="@Model.dt.Rows[i][1]"> التفاصيل  </a>

                    </td>


                </tr>
            }




        </tbody>
    </table>


    <div class="btn-area">
        <div class="pagination-part">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
        </div>
    </div>


<!--add-donation-->
<div class="modal fade my-model" id="add-donator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close-model" data-dismiss="modal" aria-label="Close">إغلاق</button>
            <div class="clearfix"></div>
            <h4 class="modal-title" id="myModalLabel">اضافة مستفاد </h4>
            <div class="modal-body">
                <form class="add-donator" id="addform">
                    <div class="white-holder">

                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                <label class="add-ads-label">رقم القائمة </label>
                            </div>

                            <div class="col-sm-10 col-xs-12">
                                <input type="text" class="add-ads-input" name="itemName">
                            </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                <label class="add-ads-label">الاسم الاول</label>
                            </div>

                            <div class="col-sm-10 col-xs-12">
                                <input type="text" class="add-ads-input" name="itemName">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                <label class="add-ads-label">الاسم الاخير </label>
                            </div>

                            <div class="col-sm-10 col-xs-12">
                                <input type="text" class="add-ads-input" name="itemName">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                <label class="add-ads-label">رقم الهاتف </label>
                            </div>

                            <div class="col-sm-10 col-xs-12">
                                <input type="text" class="add-ads-input" name="price">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                <label class="add-ads-label">العنوان </label>
                            </div>

                            <div class="col-sm-10 col-xs-12">
                                <input type="text" class="add-ads-input" name="price">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                <label class="add-ads-label">الرقم القومي</label>
                            </div>

                            <div class="col-sm-10 col-xs-12">
                                <input type="text" class="add-ads-input" name="address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                <label class="add-ads-label">الحالة الاجتماعية </label>
                            </div>

                            <div class="col-sm-10 col-xs-12">
                                <input type="text" class="add-ads-input" name="address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                <label class="add-ads-label">عدد مرات الاستفادة </label>
                            </div>

                            <div class="col-sm-10 col-xs-12">
                                <input type="text" class="add-ads-input" name="address">
                            </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                <label class="add-ads-label">عدد الابناء  </label>
                            </div>

                            <div class="col-sm-10 col-xs-12">
                                <input type="text" class="add-ads-input" name="address">
                            </div>

                        </div>

                        <div class="btn-area">
                            <button class="btn-blue submit">أضف مستفاد </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
